---
interface Props  {
	title: string;
	description: string;
}

const { title, description } = Astro.props ;

import Footer from "@/sections/footer.astro"
import Header from "@/sections/header.astro";

import "@/styles/global.css";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		
		<!-- METATAGS -->
		<!-- TITLE AND DESCRIPTION -->
		<title>{title}</title>
		<meta name="description" content={description} />

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://pausegues.netlify.app/">
		<meta property="og:type" content="website">
		<meta property="og:title" content={title}>
		<meta property="og:description" content={description}>
		<meta property="og:image" content="https://pausegues.netlify.app/og.jpg">
		<meta property="og:locale" content="en_EN" />
		<meta property="og:site_name" content="Pau Segués Vitutia" />

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
   		<meta name="twitter:site" content="@pau_segues" />
   		<meta name="twitter:creator" content="@pau_segues" />
		<meta name="twitter:title" content={title}>
		<meta name="twitter:description" content={description}>
		<meta name="twitter:image" content="https://pausegues.netlify.app/og.jpg">

		<!-- FAVICONS -->
		<link rel="icon" type="image/png" href="favicon/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="favicon/favicon.svg" />
		<link rel="shortcut icon" href="favicon/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="Pau Segués" />
		<link rel="manifest" href="favicon/site.webmanifest" />
	
	</head>
	<body>
		<Header/>
		<main>
			<slot />
		</main>
		<Footer/>
	</body>
</html>

<style>
	html,
	body {
		background: #778DA9;
		background-repeat: no-repeat;
		color: var(--color-theme-mirage);
		display: flex;
		flex-direction: column;
	}
</style>